{% extends "menu/layout.html" %}

{% block content %}
  <div class="post">
    <h1 class="centered-h1">Do you want to delete this item?</h1>
      <h1>
          {{ menu.season }}
      </h1>
      <h2>On the menu this season:</h2>
      <ul>

          {% for item in menu.items.all %}
              <li><a href="{% url 'item_detail' pk=item.pk %}">{{ item }}</a></li>
          {% endfor %}

      </ul>

      {% if menu.expiration_date %}
          <div class="date">
              Menu expires on {{ menu.expiration_date|date:"F j, Y" }}
          </div>
      {% endif %}
      
    <form method="POST"> {%csrf_token %}
      <input type="submit" value="Yes delete this item." class="delete">
  </div>
{% endblock %}
